<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.BaseInfomationMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.MappingUnit" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="VARCHAR" />
    <result column="oa" property="oa" jdbcType="VARCHAR" />
    <result column="corporation" property="corporation" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="owned_district" property="ownedDistrict" jdbcType="VARCHAR" />
    <result column="register_fund" property="registerFund" jdbcType="DOUBLE" />
    <result column="social_credit_code" property="socialCreditCode" jdbcType="VARCHAR" />
    <result column="qualification_level" property="qualificationLevel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="contact_way" property="contactWay" jdbcType="VARCHAR" />
    <result column="used_name" property="usedName" jdbcType="VARCHAR" />
    <result column="register_address_lon" property="registerAddressLon" jdbcType="VARCHAR" />
    <result column="register_address_lat" property="registerAddressLat" jdbcType="VARCHAR" />
    <result column="register_address_postcode" property="registerAddressPostcode" jdbcType="VARCHAR" />
    <result column="oa_postcode" property="oaPostcode" jdbcType="VARCHAR" />
    <result column="oa_area" property="oaArea" jdbcType="DOUBLE" />
    <result column="establish_time" property="establishTime" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="fax_num" property="faxNum" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="surveying_num" property="surveyingNum" jdbcType="INTEGER" />
    <result column="staff_num" property="staffNum" jdbcType="INTEGER" />
    <result column="unit_nature" property="unitNature" jdbcType="VARCHAR" />
    <result column="belong_industry" property="belongIndustry" jdbcType="VARCHAR" />
    <result column="certificate_code" property="certificateCode" jdbcType="VARCHAR" />
    <result column="certificate_send_date" property="certificateSendDate" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="stock_details" property="stockDetails" jdbcType="VARCHAR" />
    <result column="joint_venture" property="jointVenture" jdbcType="VARCHAR" />
    <result column="joint_ch_p" property="jointChP" jdbcType="INTEGER" />
    <result column="joint_ratify_code" property="jointRatifyCode" jdbcType="VARCHAR" />
    <result column="competent_depart" property="competentDepart" jdbcType="VARCHAR" />
    <result column="first_qualification_level" property="firstQualificationLevel" jdbcType="VARCHAR" />
    <result column="first_qualification_date" property="firstQualificationDate" jdbcType="VARCHAR" />
    <result column="qualification_process" property="qualificationProcess" jdbcType="VARCHAR" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="unit_type" property="unitType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR" />
    <result column="unit_status" property="unitStatus" jdbcType="INTEGER" />
    <result column="synchronization_status" property="synchronizationStatus" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="filing_business" property="filingBusiness" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="LONGVARCHAR" />
    <result column="unit_intro" property="unitIntro" jdbcType="LONGVARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="qureyMapping_unit" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit">
    select * from t_mapping_unit where user_id=#{userId}
  </select>
  <select id="fuzzyUnitName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT id, unit_name, owned_district, qualification_level, register_address
    FROM t_mapping_unit
    <where>
      1=1
      <if test="unitName != null and unitName != '' " >
        AND unit_name like CONCAT('%', CONCAT(#{unitName, jdbcType=VARCHAR},'%'))
      </if>
      <if test="ownedDistrict != null and ownedDistrict != '' ">
        AND owned_district=#{ownedDistrict, jdbcType=VARCHAR}
      </if>
      <if test="qualificationLevel != null and qualificationLevel != '' ">
        AND qualification_level=#{qualificationLevel, jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY id ASC
  </select>
  <select id="queryBaiMingDanByUnitStatus" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit">
  select id,unit_name,register_address,qualification_level,certificate_code,belong_industry,linkman,phone,score from t_mapping_unit where unit_status=1
</select>
  <select id="queryHeiMingDanByUnitStatus" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit">
  <![CDATA[select id,unit_name,register_address,qualification_level,certificate_code,belong_industry,linkman,phone,score from t_mapping_unit where unit_status=2]]>
</select>

  <select id="selectAllMappingUtil" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit" >
    select id,unit_name,register_address,qualification_level,certificate_code,belong_industry,linkman,phone,score from t_mapping_unit
  </select>

  <select id="queryAllMappingUtilByName" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit" >
    select id,unit_name,register_address,qualification_level,certificate_code,belong_industry,linkman,phone,score from t_mapping_unit where unit_name like concat('%',#{name},'%')
  </select>
  <update id="updateScoreAndStatusById" parameterType="com.aaa.cehui.model.MappingUnit">
    update t_mapping_unit set score=#{score},unit_status=#{unitStatus} where id=#{id}
  </update>
  <select id="selectPartUnitByPage" parameterType="com.aaa.cehui.model.MappingUnit" resultType="com.aaa.cehui.model.MappingUnit">
  select id,unit_name,oa,qualification_level,certificate_code,belong_industry,linkman,phone,score
  from t_mapping_unit
  <where>
    1=1
    <if test="ownedDistrict != null and ownedDistrict != '' ">
      AND owned_district=#{ownedDistrict, jdbcType=VARCHAR}
    </if>
  </where>
  </select>
</mapper>