<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.DictMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.Dict" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DICT_ID" property="dictId" jdbcType="BIGINT" />
    <result column="KEYY" property="keyy" jdbcType="BIGINT" />
    <result column="VALUEE" property="valuee" jdbcType="VARCHAR" />
    <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectUpdateDict" parameterType="com.aaa.cehui.model.Dict" resultType="com.aaa.cehui.model.Dict">
  select DICT_ID,KEYY,VALUEE,FIELD_NAME,TABLE_NAME from t_dict where DICT_ID = #{id}
 </select>

  <update id="updateDict" parameterType="com.aaa.cehui.model.Dict">
  update t_dict
  set KEYY = #{keyy},
      VALUEE = #{valuee},
      FIELD_NAME = #{fieldName},
      TABLE_NAME = #{tableName}
      where DICT_ID = #{id}
 </update>

</mapper>