<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.EquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.Equipment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="production_id" property="productionId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="check_date" property="checkDate" jdbcType="VARCHAR" />
    <result column="effective_date" property="effectiveDate" jdbcType="VARCHAR" />
    <result column="invoice_code" property="invoiceCode" jdbcType="VARCHAR" />
    <result column="check_department" property="checkDepartment" jdbcType="VARCHAR" />
    <result column="check_certificate_id" property="checkCertificateId" jdbcType="VARCHAR" />
    <result column="identified" property="identified" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <association property="user" javaType="com.aaa.cehui.model.User" column="user_id" autoMapping="true">

    </association>
  </resultMap>

  <select id="selectAllEquiment" resultMap="BaseResultMap">
    select e.*,u.username from t_equipment e , t_user u where e.user_id = u.id
  </select>


</mapper>