<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.MappingProjectMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.MappingProject" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_leader" property="projectLeader" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
    <result column="acceptance_department" property="acceptanceDepartment" jdbcType="VARCHAR" />
    <result column="project_amount" property="projectAmount" jdbcType="DOUBLE" />
    <result column="results_status" property="resultsStatus" jdbcType="INTEGER" />
    <result column="complete_time" property="completeTime" jdbcType="VARCHAR" />
    <result column="acceptance_report" property="acceptanceReport" jdbcType="VARCHAR" />
    <result column="task_source" property="taskSource" jdbcType="VARCHAR" />
    <result column="project_area" property="projectArea" jdbcType="DOUBLE" />
    <result column="scale" property="scale" jdbcType="VARCHAR" />
    <result column="sheet_number" property="sheetNumber" jdbcType="VARCHAR" />
    <result column="awards_department" property="awardsDepartment" jdbcType="VARCHAR" />
    <result column="prize_level" property="prizeLevel" jdbcType="VARCHAR" />
    <result column="project_quality_approval" property="projectQualityApproval" jdbcType="VARCHAR" />
    <result column="winning_time" property="winningTime" jdbcType="DATE" />
    <result column="acceptance_time" property="acceptanceTime" jdbcType="DATE" />
    <result column="basic_content" property="basicContent" jdbcType="VARCHAR" />
    <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
    <result column="submit_status" property="submitStatus" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="schedule" property="schedule" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="meridian" property="meridian" jdbcType="VARCHAR" />
    <result column="coordinate_system" property="coordinateSystem" jdbcType="VARCHAR" />
    <result column="management_level" property="managementLevel" jdbcType="VARCHAR" />
    <result column="funding_source" property="fundingSource" jdbcType="VARCHAR" />
    <result column="entrust_unit" property="entrustUnit" jdbcType="VARCHAR" />
    <result column="accept_unit" property="acceptUnit" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="center_point" property="centerPoint" jdbcType="VARCHAR" />
    <result column="synchronization_status" property="synchronizationStatus" jdbcType="INTEGER" />
    <result column="contract_time" property="contractTime" jdbcType="TIMESTAMP" />
    <result column="coordinate" property="coordinate" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="selectAllMappingProject" resultMap="BaseResultMap" >
    select id, project_type, project_name, project_leader, start_date,  end_date, acceptance_department,project_amount,
      results_status, user_id, create_time, modify_time,
      complete_time, acceptance_report, task_source, project_area, scale, sheet_number, awards_department, prize_level,
      project_quality_approval, winning_time, acceptance_time, basic_content, credit_status, submit_status, `schedule`,
      memo, `status`, audit_status, coordinate, meridian, coordinate_system, management_level, funding_source, entrust_unit,
      accept_unit, mobile_phone, phone, address, center_point, synchronization_status, contract_time
    from t_mapping_project
    where results_status=0
  </select>
  <select id="selectAllByProjectType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, project_type, project_name, project_leader, start_date,  end_date, acceptance_department,project_amount,
      results_status, user_id, create_time, modify_time,
      complete_time, acceptance_report, task_source, project_area, scale, sheet_number, awards_department, prize_level,
      project_quality_approval, winning_time, acceptance_time, basic_content, credit_status, submit_status, `schedule`,
      memo, `status`, audit_status, coordinate, meridian, coordinate_system, management_level, funding_source, entrust_unit,
      accept_unit, mobile_phone, phone, address, center_point, synchronization_status, contract_time
    from t_mapping_project
    where results_status=0
        and project_type=#{projectType, jdbcType=VARCHAR}
  </select>
  <select id="fuzzyProjectName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT id, project_name, start_date
    FROM t_mapping_project
    <where>
      1=1
      <if test="projectName != null and projectName != '' ">
        AND project_name LIKE CONCAT('%', CONCAT(#{projectName, jdbcType=VARCHAR},'%'))
      </if>
      <if test="projectType != null and projectType != '' ">
        AND project_type=#{projectType, jdbcType=VARCHAR}
      </if>
      <if test="startDate != null and startDate != '' ">
        AND start_date=#{startDate, jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY id ASC
  </select>
</mapper>