<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.MenuMapper" >

    <resultMap id="BaseResultMap" type="com.aaa.cehui.model.Menu" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="MENU_ID" property="menuId" jdbcType="BIGINT" />
        <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
        <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
        <result column="PATH" property="path" jdbcType="VARCHAR" />
        <result column="COMPONENT" property="component" jdbcType="VARCHAR" />
        <result column="PERMS" property="perms" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="CHAR" />
        <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectMenuByMenuId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from t_menu where MENU_ID = #{menuId}
    </select>
</mapper>