<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.PrincipalMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.Principal" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="work_year" property="workYear" jdbcType="INTEGER" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="mapping_year" property="mappingYear" jdbcType="INTEGER" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
  </resultMap>



  <update id="updateList" parameterType="com.aaa.cehui.model.Principal">
    update t_principal
    set id = #{id,jdbcType=BIGINT},
    type = #{type,jdbcType=VARCHAR},
     name = #{name,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
    age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

</mapper>