<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cehui.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.cehui.model.Resource" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ext_name" property="extName" jdbcType="VARCHAR" />
    <result column="ref_biz_type" property="refBizType" jdbcType="VARCHAR" />
    <result column="ref_biz_id" property="refBizId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAllResourceByUnitId" parameterType="Long" resultMap="BaseResultMap">
    select r.* from t_mapping_unit mu left join t_resource r on mu.id = r.ref_biz_id
    where  mu.id = #{id}
  </select>
</mapper>